.perk-button:hover {
  transform: scale(1.02);
}
.perk-button.pressed {
  transform: scale(0.95);
}

.perk {
  flex-basis: 33.33%;
  display: flex;
  transition: tra;
  background-color: var(--background-color2);
  color: white;
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-110%);
  transition: all 0.1s ease-out 0s;
}
/* .perk0 {
  transition: all 0.1s ease-out 0s;
} */
/* .perk1 {
  transition: all 0.1s ease-out 0.1s;
}
.perk2 {
  transition: all 0.1s ease-out 0.2s;
} */

.perks-animate.perk0 {
  transform: translateX(0);
  transition: all 0.1s ease-out 0s;
}
.perks-animate.perk1 {
  transform: translateX(0);
  transition: all 0.1s ease-out 0.1s;
}
.perks-animate.perk2 {
  transform: translateX(0);
  transition: all 0.1s ease-out 0.2s;
}
.perk-info {
  display: flex;
  flex-direction: column;
}
.perk-button {
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 0.2rem 0.5rem ;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.1s ease;
  height: 36px;
  max-height: 40px;
}

.cant-afford-upgrade {
  background-color: var(--accent-color-3);
}
