.stat-category{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
 


}
.stat-category h3{
  font-size: 2rem;
}
.stat-category-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  animation: slideIn 1s ;
  

}
@keyframes slideIn {
  0%{
    transform: translateY(20%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
  
}